.comments__item {
	width: auto;
	padding-bottom: 10px;
}

.comments_item__text,
.comments_item__date {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 15px;
}
.comments_item__text {
	padding-left: 2px;
}
.comments_item__date {
	color: #999999;
	font-size: 13px;
	padding-bottom: 2px;
}

.comments_item__name {
	font-weight: bold;
	font-size: 16px;
	padding-bottom: 2px;
	color: #4997d0;
}
